*.o
*.so
*~
autom4te.cache/
firetools_config.h
sanitizer.sh
Makefile
config.log
config.status
build/
*.1
*.1.gz
src/firetools/moc_edit_dialog.cpp
src/firetools/moc_mainwindow.cpp
src/firetools/moc_pid_thread.cpp
src/firetools/moc_stats_dialog.cpp
src/firetools/qrc_firetools.cpp
src/firemgr/moc_mainwindow.cpp
src/firemgr/moc_topwidget.cpp
src/firemgr/qrc_firemgr.cpp
firetools_config_extras.h
src/firejail-ui/moc_help_widget.cpp
src/firejail-ui/moc_home_widget.cpp
src/firejail-ui/moc_wizard.cpp

src/firemgr/moc_predefs.h
src/firetools/moc_predefs.h
