*.o
*.so
*~
autom4te.cache/
firetools_config.h
firetools_config_extras.h
sanitizer.sh
Makefile
config.log
config.status
build/
*.1
*.1.gz
src/firejail-ui/moc*
src/firejail-ui/qrc*
src/fstats/moc*
src/fstats/qrc*
src/firelauncher/moc*
src/firelauncher/qrc*
src/firetools/moc*
src/firetools/qrc*
src/fmgr/moc*
src/fmgr/qrc*
