[Desktop Entry]
Name=Firejail Configuration Wizard
Comment=Firejail configuration wizard
Exec=firejail-ui
Icon=firejail-ui
Terminal=false
Type=Application
Categories=Qt;Utility;Security;
Keywords=jail;security;seccomp;
