[Desktop Entry]
Name=Firejail Tools
Comment=Firejail user interface
Exec=firetools
Icon=firetools
Terminal=false
Type=Application
Categories=Qt;System;Security;
Keywords=jail;security;seccomp;
